body{
    margin :0;
    padding 0;
    font-family: 'Overpass', sans-serif;
}
.title{
		width: 100%;
		position: absolute;
		top:6%;
	 	letter-spacing: 0.3rem;
		font-weight: lighter;
	 	font-size: 3rem;
		text-align: center;	
}
hr{
	margin-top: -1rem;
	width:70%;
	text-align: center;
	border: 0.3px solid #575B58;
}
.bg-image{
		width: 100%;
    height: 100vh;
    background-image: url(noah-silliman-gzhyKEo_cbU-unsplash.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(5px);
}
.ques-txt{
	margin-top: 3rem;
	width: 600px;
	height: 10vh;
	position:absolute;
	top:50%;
	left:50%;
	text-align: center;
	transform :translate(-50%,-50%);
	font-weight: bolder;
	font-size: 1.6rem;
}
button {
	position: absolute;
	top : 67%;
	left: 50%;
	transform: translate(-50%);
  background: none;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 8.5em 0 0 0 #00FF3A;
}
